<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Sigma's Garden</title>
   <script src="./lib/vue.js"></script>
   <!-- <link rel="stylesheet" href="./style.css"> -->
   <style>
      body {
         margin: 0;
         padding: 0;
         /* background: url('./textures/background_4.png') no-repeat; */
      }

      #app {
         position: relative;
      }

      .coord-item {
         position: absolute;
         
         top: 50vh;
         left: 50vw;
      }

      .coord-item.active {
         background: #333;
         color: #ddd;
      }

      .coord-item.selected {
         color: #777;
         background: grey;
      }

      
   </style>
</head>

<body>
   <div id="app">
      <template v-for="circle in coords">
         <coord-item v-for="item in circle" :coord="item" @click-coord="onClickCoord(item)"></coord-item>
      </template>
   </div>

   <script src="./src/script-vue.js"></script>
   <!-- <script src="./lib/script.js"></script> -->
</body>

</html>